BOT_TOKEN=
DOMAIN=example.com
BOT_PUBLIC_PORT=8080
WEBHOOK_BASE_PATH=/webhook

PG_HOST=localhost
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=postgres
PG_DATABASE=aiogram_template
PG_DATA=/var/lib/postgresql/data/pgdata

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=15
REDIS_POOL=100000

PYTHONUNBUFFERED=0
TZ=Europe/Moscow