[Unit]
Description=aiogram_template bot
After=syslog.target
After=network.target

[Service]
Type=simple
WorkingDirectory=/var/testbot/aiogram_template
Environment="PYTHONUNBUFFERED=1"
Environment="BOT_TOKEN=YOUR_BOT_TOKEN"
Environment="POSTGRES_USER=postgres"
Environment="POSTGRES_PASSWORD=postgres"
ExecStart=/usr/bin/python3 /var/testbot/aiogram_template/app.py
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target